<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<img class="img-fluid d-block" th:src="@{/images/image.jpg}" width="500">

    <div class="container">
        <div class="row">
            <div class="col" style="border-width: 1px;border-style: solid;">
                <div class="partie">
                <div class="decoupe" >
                    <h2>Découpe</h2><a href="#">Configurez votre découpe</a></div>
            </div>
        </div>
            <div class="col" style="border-width: 1px;border-style: solid;">
                <div class="partie">
                <div class="caisson" >
                    <h2>Meuble sur Mesure</h2><a href="#">Choisissez votre meuble</a></div>
            </div>
            </div>
            <div class="col" style="border-width: 1px;border-style: solid;">
                <div class="partie">
                <div class="croquis" >
                    <h2>Projet Agencement</h2><a href="#">Découvrir&nbsp;<i class="fa fa-image"></i></a></div>
            </div>
        </div>
    </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
