<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{css/style.css}">

<title>Connexion</title>
<style>
    img.
</style>
</head>
<body>

<!-- Image principale -->
<div class="container-fluid">
    <div class="container">
        <img th:src="@{/images/image.jpg}" alt="arrisimage">
    </div>
</div>

<!-- Navbar menu  -->
<div th:include="fragment/navbar.html"></div>
<br>
<!-- END nav -->


<div class="container-fluid">
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Connexion</h1>
            <form th:action="@{/login}" method="post">

                <!-- message d'erreur -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalide !</div>
                </div>

                <!-- Message de deconnexion -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">Vous avez été déconecté !</div>
                </div>

                <!-- Formulaire d'inscription -->
                <div class="form-group">
                    <label for="username">Email: </label>
                    <input type="email" class="form-control" id="username" name="username"
                           required="required" placeholder="pedro2365@example.com">
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" id="password" name="password"
                           required="required">
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="submit" name="Valider" id="login" class="form-control btn btn-primary"
                                   value="Connexion">
                        </div>
                    </div>
                </div>


            </form>

            <div class="form-group">
                <span>Nouveau Client? <a href="/" th:href="@{/registration}">Inscription</a> </span>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
<div th:replace="fragment/footer :: footer"/>
</html>