<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Cart Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">

    <title>Arrisparis Découpe</title>
</head>
<body>

<!-- Navbar menu  -->
<div th:include="fragment/navbar.html"></div>
<br>
<!-- END nav -->
<div class="container-fluid">
    <div class="container">
<h1>Panier</h1>

<th:block th:if="${session.panier.isEmpty()}">Aucun panier</th:block>
<h4>Total: <span th:text="${session.panier.total}"></span></h4>

<table border="1">
    <thead>
    <tr>
        <th>#</th>
        <th>name</th>
        <th>price</th>
        <th>quantity</th>
        <th>subtotal</th>
        <th>remove</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${session.panier.items}">
        <td th:text="${item.produits.id}"></td>
        <td th:text="${item.produits.nom}"></td>
        <td>Rs.<span th:text="${item.produits.prix}"></span></td>
        <td>
            <form action="#" th:action="@{/panier/update}" method="post">
                <input type="hidden" th:value="${item.produits.id}" name="id"/>
                <input type="number" min="1" th:value="${item.quantity}" name="qty"/>
                <button type="submit">update</button>
            </form>
        </td>
        <td><span th:text="${item.subTotal}"></span></td>
        <td>
            <form action="#" th:action="@{/panier/remove}" method="post">
                <input type="hidden" th:value="${item.produits.id}" name="id"/>
                <button type="submit">remove</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

 <form  th:action="@{/panier/validation}" method="post">
 <button class ="btn btn-warning container" value="Valider la commande" type="submit" role="button">Valider la commande</button>
 </form>
</div>
</div>


</body>
</html>






















<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ArrisParis cart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">

    <link rel="stylesheet" th:href="@{css/open-iconic-bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/animate.css}">


    <link rel="stylesheet" th:href="@{css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{css/magnific-popup.css}">



    <link rel="stylesheet" th:href="@{css/ionicons.min.css}">

    <link rel="stylesheet" th:href="@{css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{css/jquery.timepicker.css}">


    <link rel="stylesheet" th:href="@{css/flaticon.css}">
    <link rel="stylesheet" th:href="@{css/icomoon.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">

</head>
&lt;!&ndash; Image principale &ndash;&gt;
<div class="container-fluid">
    <div class="container">
        <img th:src="@{/images/image.jpg}" alt="arrisimage">
    </div>
</div>

&lt;!&ndash; Navbar menu  &ndash;&gt;
<div th:include="fragment/navbar.html"></div>
<br>
&lt;!&ndash; END nav &ndash;&gt;

&lt;!&ndash; START CART&ndash;&gt;

<section class="ftco-section ftco-cart">
    <div class="container-md">
        <h1>Panier d'achat</h1>

        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <th:block th:if="${product}"></th:block>
                    <table class="table">
                        <thead class="thead-primary">
                        <tr class="text-center">
                            <th>&nbsp;</th>
                            <th>Produit</th>
                            <th>Dimension</th>
                            <th>Prix unitaire</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="produit : ${product}" class="text-center">
                            <td class="product-remove"><form th:action="@{/delete/{id}(id=${produit.id})}" method="get" th:object="${produit}" >
                                <button type="submit" role ="button" class = "btn btn-warning containe" >Supprimer</button>
                            </form><span class="ion-ios-close"></span></td>

                            <td th:text="${produit.type} + ' en ' + ${produit.nom}" class="product-name"></td>
                            <td th:text="${produit.longueur} + 'x'+${produit.largeur} + 'x'+${produit.profondeur}"></td>
                            &lt;!&ndash;<td class="quantity">
                                <form th:action="@{/update/{id}(id=${produit.id_Produit})}" method="get" th:object="${produit}">
                                    <input th:value="${produit.quantity}" type="number" name="quantity" class="quantity form-control input-number" value="1" min="1" max="30">
                                    <button type="submit" role ="button" class = "btn btn-warning containe" >Save</button>
                                </form>
                            </td>&ndash;&gt;
                            <td  th:text="${produit.prix}" class="price"></td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="container-md">

           &lt;!&ndash; <h2> Information Client </h2>

            <form th:action="@{/panier}" method="get" th:object="${user}" >
                <label for="lastname">Nom: </label>  <input id="lastname" th:value="${user.getLastname()}" type="text">
                <label for="firstname">Prénom: </label> <input id="firstname" th:value="${user.getFirstname()}" type="text"> <br>
                <label for="email">Email: </label> <input id="email" th:value="${user.getEmail()}" type="email">
            </form>
            <br>&ndash;&gt;

            <h2> Paiement</h2>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Paypal" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Paypal
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="CB" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                    CB (pas encore disponible)
                </label>
            </div>
        </div>

        <div class="row justify-content-start">
            <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Total HT</span>
                        <span>$20.60</span>
                    </p>
                    <p class="d-flex">
                        <span>TVA</span>
                        <span> 20% </span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total TTC</span>
&lt;!&ndash;                        <span th:text="${commandes.totalAmount}"></span>&ndash;&gt;
                    </p>
                </div>
                <button class ="btn btn-warning container" value="Valider la commande" type="submit" role="button">Valider la commande</button>
            </div>
        </div>
    </div>
</section>

</body>
</html>
-->
